<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

    <div class="navbar">
        <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="/how-it-works"> How it works</a>
    </div>

    <div class="container">
        <h1 class="about-h1">About Us</h1>
        <p class="about">Welcome to our ASCII Art Web application. This application allows you to generate ASCII art from text using different banner styles.</p>
        <p class="about">
            Our dedicated team of developers and designers has worked hard to bring this project to life. 
            We are passionate about ASCII art and committed to making our tool as user-friendly and versatile as possible. 
            Here’s a bit more about the team behind the project:
        </p><br>
        <p class="about">Meet the Team:</p>
        <ul id="list">
            <li><i class="fa-brands fa-github"></i><a href="https://github.com/Murzuqisah/" target="_blank">Joel Adero</a></li>
            <p class="about">
                 Joel is an apprentice software developer with a knack for creating engaging web applications. 
                 His expertise in frontend development and passion for clean design have been instrumental in shaping this project.
            </p>
            <li><i class="fa-brands fa-github"></i><a href="https://github.com/denilany/" target="_blank">Denil Anyonyi</a></li>
            <p class="about">
                 Denil is an apprentice software developer whose backend skills in building scalable and efficient server-side solutions are unmatched. 
                 His skills ensure that our ASCII art generator performs smoothly and reliably.
            </p>
            <li><i class="fa-brands fa-github"></i><a href="https://github.com/Bshisia/" target="_blank">Brian Shisia</a></li>
            <p class="about">
                 Brian, an apprentice software developer whose UI/UX design skills in creating intuitive and visually appealing user experiences are unfathomable. 
                 His design work ensures that our tool is not only functional but also user-friendly.
            </p>
        </ul><br>
        <p class="about">
            If you have any questions, feedback, or just want to say hello, please feel free to <a href="mailto:contact@example.com">contact us</a>. We look forward to hearing from you!
        </p>
    </div>
    <div class="div-footer">
        <footer class="footer">
            <p>&copy; 2024 Created by <a href="https://github.com/Murzuqisah/" target="_blank" rel="noopener noreferrer">Joel</a>,
                 <a href="https://github.com/denilany/" target="_blank" rel="noopener noreferrer">Denil</a> and 
                 <a href="https://github.com/Bshisia/" target="_blank" rel="noopener noreferrer">Brian</a></p>
        </footer>
    </div>
</body>
</html>
